@font-face {
    font-family: 'Karrik';
    src: url('Karrik-Italic.eot');
    src: url('Karrik-Italic.eot?#iefix') format('embedded-opentype'),
        url('Karrik-Italic.svg#Karrik-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

