
#video {filter: opacity(20%)}
#illustrations {filter: opacity(20%); padding-top: 2px;}
#graphic {filter: opacity(20%)}


#didda {
  position: fixed;
}

.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}



    .hover-image {
  position: fixed;
      visibility: hidden;
  left: 315px;
top: 100px;
  margin-right: 5%;
  width: auto;
  height: auto;
  bottom: 1px;
       max-width: 600px;
} 
body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}



.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
  }
@media screen and (max-width: 600px) {
      .hover-image {
    display:none;
}}



.icon {margin-top: 23px; float: right; margin-right: 20px;}

@media screen and (max-width: 800px) {
  #didda {
    position: relative;
  }
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

.titlar {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}


.topnav {
  overflow: hidden;
  background-color: #ffffff; 
  margin-left: 50px;
  margin-right: 70px;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding-top: 23px;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.split {
  float: right;
  color: black;
}

.topnav a.active2 {
  float: right;
  color: black;
  text-decoration: underline;}

#info {
  padding-left: 10px;}

.topnav a.active {
  text-decoration: underline;}


@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 14px 0px 0px;
  }
}
@media screen and (max-width: 400px) {
  .topnav {
  position: relative;
  margin-left: 20px;
  margin-right: 22px;
  }}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-left: 20.5px;
  margin-right: 20.5px;
  padding-bottom: 80px;
}

@media screen and (max-width: 490px) {input {display: none;}}

@media screen and (min-width: 1600px) {
  .row {
    display: flex;
    position: relative;
    left: 3%;
    float: left;
    width: 1005.5px;
  }
}
@media screen and (min-width: 1600px) {
  .content {
    position: relative;
    left: 3%;
    padding-left: 10px;
    width: 1000px;
  }
}
@media screen and (min-width: 1600px) {
  img {
    width: auto;
  }
}

@media screen and (min-width: 801px) {
  .row {
    display: flex;
    position: relative;
    margin-left: 310px;
    margin-right: 12%;
    float: left;
  }
}
@media screen and (max-width: 800px) {
  .row {
    display: flex;
    position: relative;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-left: 35px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 400px) {
  .row {
    display: flex;
    position: relative;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 801px) {
  .column {
    flex: 50%;
    padding-left: 15px;
    position: relative;
    float: left;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    padding-left: 15px;
    position: relative;
  }
}
@media screen and (max-width: 490px) {input {display: none;}}
.imag {
  padding-top: 15px;
  position: relative;
}
.imag2 {
  position: relative;
  display: block;
}
.first {
  padding-top: 30px;
}
.active {
  font-size: 15px;
  text-decoration: underline;
  font-family: 'Work Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 801px) {
  .sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 70.5px;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 801px) {
  .content {
    position: relative;
    margin-left: 315px;
    padding-left: 10px;
    margin-right: 12%;
  }
}

@media screen and (max-width: 800px) {
  .sidenav {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 90%;
    left: 50px;
    top: 14px;
    position: relative;
    padding-right: 55px;
  }
}
@media screen and (max-width: 400px) {
  .sidenav {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 90%;
    left: 20px;
    top: 14px;
    position: relative;
    padding-right: 55px;
  }
}
@media screen and (max-width: 800px) {
  .content {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 10 10px;
    margin-left: 50px;
    margin-right: 50px;
    top: 0px;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  .content {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 10 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.description {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  margin: 0px;
}
.embed-youtube {
  position: relative;
  padding-bottom: 52.5%;
  height: 100%;
  overflow: hidden;
  top: 35px;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
  border: 0;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 400px) {
  .embed-youtube {
    width: 300px;
    height: 200px;
  }
}
